header {
    background-color: rgb(246, 241, 241);
    display: flex;
    align-items: center;
    padding: 10px;

}

body {
    margin: 0;
    font: "calibri";
}

ul {
    margin: 0;
    padding: 0;
    color: rgb(245, 242, 242);
    display: flex;
}

h1 {
    color:#e86f90;
    flex-grow: 1;
    font-size: 40px;
    margin: 0;
}

li {
    list-style-type: none;
    margin-right: 20px;
    font-size: 25px;
}

li:last-child {
    margin-right: 8px;
}

a {
    color:#e86f90;
    text-decoration: none;
}

a.active,
a:hover {
    color:#5d041c;
}

.banner-img-wrapper {
    width: 50%;
}

.banner-img-wrapper img {
    width: 100%;
}

.banner {
    margin: 0px;
    display: flex;
    color:#e86f90;
    background-color:#fcbcbc;
    text-align: center;
}

.banner>div {
    width: 50%;
}

.banner img {
    width: 100%;
}

.banner-text {
    display: flex;
    text-align: center;
}

.banner-text>div {
    width: 100%;
    text-align: center;
}

.banner-text h2 {
    margin-block-start: 210px;
    font-size: 38px;
}

.banner-text .banner-btn {
    font-size: 25px;
    padding: 8px 15px;
    color: white;
    background-color: #cf466b;
    border: 1px solid #cf466b;
    border-radius: 100px;
}

.banner-text .banner-btn:hover {
    background-color: #e86f90;
}

section {
    margin-top: 60px;
    margin-bottom: 50px;
}

.section-header {
    text-align: center;
}

.section-header h2 {
    font-size: 40px;
    color: #090708;
    padding: 20px;
    font-weight: 400;
    margin: 0;
}

.section-header hr {
    border: 0;
    border-bottom: 4px solid #e86f90;
    width: 10%;
}

.row {
    display: flex;
}

.padding-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.col-25 {
    width: 25%;
}

figure.col-25 img {
    width: 100%;
    height: 500px;
}

.row-2 {
    display: flex;
}

.col-33 {
    width: 33.3%;
    margin-right: 20px;
}

.col-33:last-child {
    margin-right: 0;
}

.product-link .img-wrapper {
    transition: 0.3s transform ease;
}

.product-link:hover .img-wrapper {
    transform: scale(0.95);
}

.product-figure {
    margin: 0;
}

figure.col-33 img {
    width: 100%;
    height: 500px;
}

figure img {
    width: 100%;
}

figure .img-wrapper {
    max-height: 345px;
    overflow: hidden;
}



.banner-text hr {
    border: 0;
    border-bottom: 4px solid #e86f90;
    width: 10%;
}

.title h1 {
    text-align: center;
    padding: 20px;
    color: black;
    font-weight: 400;
}

.title hr {
    border: 0;
    border-bottom: 4px solid #e86f90;
    width: 10%;
}

.title h2 {
    font-size: 30px;
    color:#e86f90;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}
figcaption {
    font-size: 32px;
    text-align: center;
}
.text-strikethrough {
    text-decoration: line-through;
    color: #a19297;
}
.text-primary {
    color: #e86f90;
}
.text {
    color: #e86f90;
}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background:#e86f90;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .search-container button:hover {
    background: #e86f90;
  }